name: Mirror from Codeberg

on:
  schedule:
    - cron: '*/20 * * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - run: |
          git remote remove codeberg 2>/dev/null || true
          git remote add codeberg https://codeberg.org/emerald-lang/emerald.git
          git fetch codeberg
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git checkout main
          git merge codeberg/main -X ours --no-edit
          git checkout HEAD -- README.md
          git push origin main
